@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(0, 0%, 3.9%);
    /* Paleta centrada en un rojo cálido */
    --primary: hsl(0, 80%, 50%); /* Rojo base */
    --primary-50: hsl(0, 100%, 98%); /* Muy claro */
    --primary-100: hsl(0, 100%, 90%); /* Claro */
    --primary-200: hsl(0, 95%, 80%); /* Claro */
    --primary-300: hsl(0, 90%, 70%); /* Ligeramente oscuro */
    --primary-400: hsl(0, 85%, 60%); /* Medio claro */
    --primary-500: hsl(0, 80%, 50%); /* Rojo fuerte */
    --primary-600: hsl(0, 70%, 40%); /* Oscuro */
    --primary-700: hsl(0, 60%, 30%); /* Más oscuro */
    --primary-800: hsl(0, 50%, 20%); /* Muy oscuro */
    --primary-900: hsl(0, 40%, 15%); /* Muy oscuro */
    --primary-950: hsl(0, 35%, 10%); /* Casi negro */
    --primary-foreground: hsl(0, 0%, 98%); /* Muy claro para texto */
  }

  .dark {
    --background: hsl(0, 0%, 3.9%);
    --foreground: hsl(0, 0%, 98%);
  }

  body {
    @apply bg-background text-foreground;
  }
}
